.post {

    width: 40%;
    height: 20%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float: left;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.post-left {
    width: 15%;
    max-width: 15%;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content {
    width: 75%;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;

}

.post-title {
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
}

.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc {
    height: 100px;
    width: 100%;
    margin: 10px 0;
    text-overflow: clip;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.trashIcon
{
    width: 100%;
    margin: 5px 10px;
}
.trashIcon img
{
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}


