/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerLogo h1
{
    font-family: Satisfy,cursive;
    font-style: italic;
    color: mediumblue;
    font-size: 50px;
    font-weight: 300;
}

.headerLogo h4
{
    font-family: "Marck Script",cursive;
    font-weight: lighter;
    margin: 0 0 0 5px;
}

.headerButton button
{
    background: blue;
    color: white;
    padding: 5px ;
}

